* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  max-width: 1250px;
  margin: 0 auto;
  padding: 25px;
}
@media (min-width: 1024px) {
  .container {
    padding: 50px;
  }
}
.container h5 {
  font-weight: 800;
  letter-spacing: 0.4em;
}

p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Mulish", sans-serif;
}

button {
  cursor: pointer;
}

/***** Grid ****/
#main {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(20px, auto);
  grid-template-rows: repeat(1, 70px);
  grid-template-areas: "header" "hero" "intro" "process" "portfolio" "clients" "testimonial" "contact" "form" "footer";
}

header {
  grid-area: header;
}

#hero-section {
  grid-area: hero;
}

#e-learning-intro {
  grid-area: intro;
}

#e-learning-process {
  grid-area: process;
}

#portfolio {
  grid-area: portfolio;
}

#clients {
  grid-area: clients;
}

#testimonial {
  grid-area: testimonial;
}

#contact {
  grid-area: contact;
}

#form {
  grid-area: form;
}

footer {
  grid-area: footer;
}

@media (min-width: 1024px) {
  #main {
    grid-template-columns: 80px 2fr repeat(2, 1fr);
    grid-template-areas: "header header header header" "hero hero hero hero" "intro intro intro intro" "process process process process" "portfolio portfolio portfolio portfolio" "contact contact form form" "footer footer footer footer";
  }
}

header {
  position: fixed;
  margin: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
header img {
  width: 200px;
  margin: 0 auto 0 1em;
}
header .container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 25px;
  max-width: 100%;
}
header .container button {
  display: none;
}
@media (min-width: 768px) {
  header .container button {
    display: block;
    margin-right: 20px;
    padding: 12px 35px;
    border-radius: 15px;
    background: linear-gradient(180deg, #0e7368 0%, #073a34 35%);
    border: solid 2px #fff;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
  }
}
header .container .hamburgermenu {
  width: 80px;
  height: 65px;
  background-color: #0E7368;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .hamburgermenu svg {
  width: 35px;
  height: 35px;
  fill: #F3B82A;
}

/***** hero section
*****************************/
#hero-section {
  display: flex;
  z-index: 1;
  margin-top: -70px;
  background-size: cover;
  background-image: url(../img/hero-tinted.jpg);
  background-position: top center;
  height: 100vh;
  /** progress bar **/
}
#hero-section .container {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero-section .container .hero-heading {
  padding: 0 25px;
}
@media (min-width: 768px) {
  #hero-section .container .hero-heading {
    text-align: left;
    padding-left: 25%;
    margin-bottom: auto;
  }
  #hero-section .container .hero-heading p {
    font-size: 20px;
  }
}
#hero-section .container .arrow-container-mobile {
  width: 90%;
  background-color: #0E7368;
  margin-top: auto;
  align-self: flex-start;
  text-align: left;
  padding: 25px;
}
#hero-section .container .arrow-container-mobile .arrow-mobile {
  display: flex;
}
#hero-section .container .arrow-container-mobile .arrow-mobile p {
  margin-right: auto;
}
#hero-section .container .arrow-container-mobile .arrow-mobile .slider-arrow-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#hero-section .container .arrow-container-mobile .arrow-mobile .slider-arrow-container img {
  width: 30px;
}
@media (min-width: 1024px) {
  #hero-section .container .arrow-container-mobile {
    display: none;
  }
}
#hero-section .container .arrow-container-mobile h5 {
  color: #F3B82A;
  margin: 0;
  letter-spacing: initial;
  font-size: 22px;
}
#hero-section h1 {
  margin-top: 300px;
  font-weight: 100;
  margin-bottom: 0;
  font-size: 60px;
}
#hero-section .container .arrow-container {
  display: none;
  background-color: #0E7368;
}
@media (min-width: 1024px) {
  #hero-section .container .arrow-container {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 95%;
  }
}
#hero-section .container .arrow-container div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 10px 30px;
}
#hero-section .container .arrow-container h5 {
  margin: 0;
  color: #F3B82A;
  letter-spacing: initial;
}
#hero-section .progress-bar {
  display: none;
}
@media (min-width: 1024px) {
  #hero-section .progress-bar {
    display: flex;
    align-items: flex-end;
    margin: 0 25px 30px auto;
    position: fixed;
    right: 0;
    bottom: 0;
  }
  #hero-section .progress-bar p {
    font-weight: 400;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
  }
  #hero-section .progress-bar .bar {
    background-color: #8D8D8C;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 15px;
  }
  #hero-section .progress-bar .bar .bar-0-percent {
    padding: 1.5px;
    background-color: #2A464E;
    height: 15%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

/***** e-learning intro
*****************************/
#e-learning-intro .container h2,
#e-learning-intro .container h5,
#e-learning-intro .container p {
  color: #2A464E;
}

#e-learning-intro .container svg {
  width: 100%;
  margin: 25px 0;
  height: 220px;
}

/***** e-learning process
*****************************/
#e-learning-process {
  background-color: #2A464E;
}
#e-learning-process .container {
  margin-top: 25px;
}
@media (min-width: 1024px) {
  #e-learning-process .container {
    padding: 25px;
  }
}

#e-learning-process .container .process-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#e-learning-process .container .process-icon-container .number-point {
  flex-basis: 40px;
  align-self: flex-start;
  width: 50px;
}
#e-learning-process .container .process-icon-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}
@media (min-width: 768px) {
  #e-learning-process .container .process-icon-container div {
    flex: 1 70px;
    padding: 0 20px;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  #e-learning-process .container .process-icon-container {
    display: flex;
    flex-direction: row;
  }
}
#e-learning-process .container .process-icon-container .process-icon {
  width: 130px;
}

@media (min-width: 1024px) {
  .e-learning-intro-mobile {
    display: none;
  }
}

.e-learning-intro {
  display: none;
}
@media (min-width: 1024px) {
  .e-learning-intro {
    display: block;
  }
}
.e-learning-intro .container > div {
  display: flex;
  margin-top: 50px;
}
.e-learning-intro .container > div img {
  width: 500px;
}
.e-learning-intro .container > div img + div > h2 {
  font-size: 30px;
}
.e-learning-intro h2 {
  font-size: 50px;
}
.e-learning-intro h4 {
  color: #2A464E;
}

/** individual png icons. NEEDS TO BE REPLACED WITH SVGS **/
.process-icon-1 {
  width: 100px;
}

.process-icon-2 {
  width: 113px;
}

.process-icon-3 {
  width: 209px;
}

.process-icon-4 {
  width: 92px;
}

/***** people skill products
*****************************/
#portfolio .container h5,
#portfolio .container p {
  color: #2A464E;
  text-align: center;
}

#portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /***** testimonial
  *****************************/
}
@media (min-width: 1024px) {
  #portfolio .container p {
    font-size: 20px;
  }
}
#portfolio .container .portfolio-icon-container {
  margin-bottom: 25px;
}
#portfolio .container .portfolio-icon-container div {
  position: relative;
  margin-bottom: 25px;
}
#portfolio .container .portfolio-icon-container img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  #portfolio .container .portfolio-icon-container img {
    margin-bottom: 0;
  }
}
#portfolio .container .portfolio-icon-container {
  margin-top: 25px;
}
@media (min-width: 768px) {
  #portfolio .container .portfolio-icon-container div {
    flex-basis: 250px;
  }
}
@media (min-width: 768px) {
  #portfolio .container .portfolio-icon-container div:nth-child(2) h2 {
    margin: -67px 0 0 10px;
  }
}
#portfolio .container .portfolio-icon-container div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: linear-gradient(180deg, rgba(42, 70, 78, 0.1) 0%, rgba(8, 14, 16, 0.5) 35%);
  width: 100%;
}
#portfolio .container .portfolio-icon-container div h2 {
  color: #fff;
  margin: -40px 0 0 10px;
  padding-bottom: 8px;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  #portfolio .container .portfolio-icon-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
#portfolio .container .speech-marks {
  display: flex;
}
#portfolio .container .speech-marks h3 {
  color: #2A464E;
  margin-top: 40px;
}
@media (min-width: 768px) {
  #portfolio .container .speech-marks h3 {
    font-size: 30px;
  }
}
#portfolio .container .speech-marks img {
  height: 70px;
}
@media (min-width: 768px) {
  #portfolio .container .speech-marks img {
    flex-basis: 250px;
    margin-right: 25px;
  }
}
#portfolio .container .testimonial-slider {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
#portfolio .container .testimonial-slider .testimonial-profile img {
  margin-right: 10px;
  width: 75px;
}
#portfolio .container .testimonial-slider .testimonial-profile {
  display: flex;
  align-items: flex-start;
  flex: 1;
}
#portfolio .container .testimonial-slider .testimonial-profile-text h3 {
  margin-bottom: 0;
  color: #2A464E;
}
#portfolio .container .testimonial-slider .testimonial-profile-text p {
  margin-top: 0;
}
#portfolio .container .slider-control {
  display: none;
}
@media (min-width: 1024px) {
  #portfolio .container .slider-control {
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0.3;
  }
  #portfolio .container .slider-control svg {
    flex-basis: 15px;
    height: 15px;
  }
  #portfolio .container .slider-control p {
    margin: 0 15px;
  }
}

/***** client logos
*****************************/
.client-logos {
  background-color: #2A464E;
  display: flex;
  margin-top: 50px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  padding: 25px;
}
.client-logos .container {
  width: 100%;
}
.client-logos .logo-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.client-logos .logo-container img {
  width: 50px;
}
@media (min-width: 768px) {
  .client-logos .logo-container img {
    width: 100px;
  }
}
@media (min-width: 1024px) {
  .client-logos {
    padding: 50px;
  }
}
.client-logos h5 {
  font-weight: 800;
  letter-spacing: 0.4em;
  color: #fff !important;
}

/***** contact info
*****************************/
#contact {
  margin-top: -40px;
  background-color: #0E7368;
}
@media (min-width: 1024px) {
  #contact {
    margin-top: 0;
  }
}
#contact .container > h2 {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  #contact .container > h2 {
    font-size: 50px;
    margin-bottom: 75px;
  }
}
#contact .container .contact-info {
  display: flex;
}
#contact .container .contact-info div {
  flex: 1;
}
#contact .container .contact-info div h4 {
  font-weight: 900;
  margin: 0;
}
#contact .container .contact-info div p {
  margin: 10px 0;
}
#contact .container .contact-info .address h4:last-child {
  text-decoration: underline;
}
#contact .container .contact-info .phone-email-container {
  margin-left: 50px;
}

/***** form
*****************************/
#form {
  letter-spacing: 0.4em;
}
#form label {
  color: #2A464E;
  font-weight: 900;
  margin-bottom: 20px;
}
#form textarea {
  height: 140px;
}
#form input, #form textarea {
  background-color: #FAFAFA;
  border: none;
  margin: 10px 0 20px 0;
  width: 100%;
}
#form br + input,
#form textarea {
  border-bottom: #707070 1px solid;
}
#form button {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: #2A464E;
  background-color: #FAFAFA;
  border: #707070 1px solid;
  padding: 10px 20px;
}
@media (min-width: 768px) {
  #form .form-flex {
    display: flex;
    justify-content: space-between;
  }
  #form .form-flex .input-flex {
    width: 48%;
  }
}

/***** footer
*****************************/
footer {
  background-color: #2A464E;
}
footer .footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-main > img {
  width: 200px;
  align-self: center;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  footer .footer-main > img {
    align-self: flex-start;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  footer .footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
footer .social-icons img {
  width: 30px;
}
@media (min-width: 768px) {
  footer .social-icons img {
    align-self: center;
  }
}
@media (min-width: 768px) {
  footer .social-icons img:nth-child(2) {
    margin: 0 15px;
  }
}
footer .footer-menu,
footer .contact-menu {
  text-align: center;
}
@media (min-width: 768px) {
  footer .footer-menu,
footer .contact-menu {
    text-align: left;
  }
}
footer .footer-menu h5,
footer .contact-menu h5 {
  margin-top: 0;
}
footer .contact-menu {
  margin-top: 25px;
}
@media (min-width: 768px) {
  footer .contact-menu {
    margin-top: 0;
  }
}
footer .divider {
  margin-top: 25px;
  background-color: #fff;
  padding: 1px 0 0 0;
}
@media (min-width: 768px) {
  footer .divider {
    margin-bottom: 25px;
  }
}
footer .privacy-policy-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .privacy-policy-social .footer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .privacy-policy-social .social-icons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 25px 0;
}
@media (min-width: 768px) {
  footer .privacy-policy-social .social-icons {
    display: flex;
    justify-content: flex-end;
    width: 75px;
  }
}
@media (min-width: 768px) {
  footer .privacy-policy-social .social-icons {
    margin: 0;
  }
}
footer .privacy-policy-social div {
  flex: 1;
}
@media (min-width: 768px) {
  footer .privacy-policy-social {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  footer .privacy-policy-social .footer-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  footer .privacy-policy-social p {
    font-size: 11px;
  }
}
@media (min-width: 1024px) {
  footer .privacy-policy-social p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
