@import '../scss/utilities/_mixins.scss';
@import '../scss/utilities/_variables.scss';


/************* 
HEADER
**************/

header{
    position: fixed;
    margin:auto;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    z-index:99;
    & img{
        width:200px;
        margin: 0 auto 0 1em;
        
    } & .container {
        height:100%;
        @include flexy($alitems:center);
        padding: 0 0 0 25px;
        max-width:100%;

        & button{
            display:none;
            @include mq ('tablet'){
            display: block;
            margin-right:20px;
            padding:12px 35px;
            border-radius:15px;
            background: linear-gradient(180deg, rgba(14,115,104,1) 0%, rgba(7,58,52,1) 35%);
            border: solid 2px #fff;
            color:#fff;
            font-weight:600;
            font-size:18px;
            }
        }
    } & .container .hamburgermenu{ 
        width:80px;
        height:65px;;
        background-color:$background-teal;


    } 
    & .container .hamburgermenu svg{ 
        width:35px;
        height:35px;
        fill: $yellow;
    }


}

/************* 
FORM
**************/

#form {
    letter-spacing: .4em; 
    & label{
    color:$teal;
    font-weight:900;
    margin-bottom:20px;
    }

    & textarea{
        height:140px;
    }
    & input, textarea{
        background-color:$field-background ;
        border:none;
        margin:10px 0 20px 0;
        width:100%;
    }

    br + input,
    textarea{
        border-bottom:#707070 1px solid;
    }

    & button{
        font-family:"Poppins", sans-serif;
        font-weight:900;
        color:$teal;
        background-color: $field-background;
        border: #707070 1px solid;
        padding:10px 20px;
    } 

    & .form-flex{
       @include mq ('tablet'){
           @include flexy($just:space-between);
           & .input-flex{
               width:48%;
           }
       }

    }
}

/************* 
FOOTER
**************/

footer{
    & .footer-main{
        & > img{
            width:200px;
            align-self: center;
            margin-bottom:25px;
            @include mq('tablet'){
                align-self: flex-start;
                margin-bottom: 0;
            }
        }
        @include flexy($dir:column,$alitems:center);
        @include mq ('tablet'){
            @include flexy($dir:row, $just:space-between);
        }
    } & .social-icons img{
        width:30px;
        @include mq ('tablet'){
            align-self: center;
        }
    }

    .social-icons img:nth-child(2){
        @include mq('tablet'){
            margin: 0 15px;
        }
    }
    background-color:$teal;

    & .footer-menu, 
      .contact-menu {
          text-align: center;
          @include mq ('tablet'){
              text-align: left;
          } 

          & h5{
              margin-top:0;
          }
      }

      & .contact-menu{
          margin-top:25px;
          @include mq ('tablet'){
              margin-top:0; 
          }
      }

      & .divider{
          margin-top:25px;
          background-color: #fff;
          padding: 1px 0 0 0;
          @include mq ('tablet'){
              margin-bottom:25px;
          }
      }

      .privacy-policy-social{
          @include flexy($dir:column, $alitems:center);
          & .footer-link{
              @include flexy ($dir:column, $alitems:center)
          }
          
          & .social-icons{
              @include flexy($just:space-between);
              width:50%;

              @include mq ('tablet'){
                  @include flexy($just:flex-end);
                  width:75px;

              }
              margin:25px 0;

              @include mq ('tablet'){
                  margin: 0;
              }

          }

          & div{
              flex:1;
          }

          @include mq ('tablet'){
              @include flexy($dir:row, $alitems:center);
              & .footer-link{
                  @include flexy($just:space-between, $dir:row);
              }
          }

          & p {
            @include mq ('tablet'){
                font-size:11px;
            }
            @include mq ('desktop'){
                font-size: 14px;
            }
          }

          & p:nth-child(1){
              font-weight:bold;
          }
              }
       
}

/************* 
HAMBURGER MENU
**************/

ng-sidebar-container{
    height:100vh;
}


header{

    & .hamburgermenu > ng-sidebar-container div{
        width:80px;
        height:65px;
        @include flexy($just:center, $alitems:center)
    }

    & .hamburgermenu > ng-sidebar-container ::ng-deep .ng-sidebar{
        background-color: $teal;
        width:450px;
        padding:2em;

    }


}
