
        <section id='hero-section'>
          <div class = 'container'>
            <div class = 'hero-heading'>
            <h1>Skills for a New World</h1>
            <p>New leadership challenges, new remote teams and new ways of communicating all require new ways of learning. Our learning designers can create bespoke learning solutions for your business, or use our pre-built individual and multi-player VR modules for learners to practise and hone thier skills, on their own VR headsets from anywhere.</p>
            </div>
            
            <div class = 'arrow-container-mobile'> <!-- mobile only -->
              <div class = 'arrow-mobile'>
              <p>01</p>
                <div class = 'slider-arrow-container'>
                  <img src = 'assets/img\slider-arrow-mobile.png'>
                </div>
              </div>
              <h5>Learning</h5>
              <p>Individual and collaborative VR or e-learning programmes that excite learners and let them put theory into practise.</p>
            </div>

            <div class = 'arrow-container'> <!-- tablet/desktop only -->
              <div>
                <p>01</p>
                <h5>Learning</h5>
                <p>Individual and collaborative VR or e-learning programmes that excite learners and let them put theory into practise.</p>
             </div>
             <div>
              <p>02</p>
              <h5>Platform</h5>
              <p>Monitor, measure and analyse individual and population progress with our secure cloud management system.</p>
           </div>
           <div>
            <p>03</p>
            <h5>Delivery</h5>
            <p>Easy! Thousands of employees can receive their own headsets, access credentials and learning apps in a few days.</p>
         </div>
        
            </div>
          </div>

          <div class = 'progress-bar'>
            <p>0%</p>
            <div class ='bar'>
              <div class ='bar-0-percent'></div>
            </div>
          </div>
        </section>

          <!-- e-learning-intro -->
        <section id = 'e-learning-intro'>
            <div class = 'container'>
              <h5>WE ARE E-LEARNING STUDIOS</h5>
              <h2>We work with organisations to make learning from home an engaging and effective experience 
                for all employees.</h2>

              <div class = 'e-learning-flexy'>
                <div>
                  <h2>ELS is pioneering the use of XR within 
                    the world's major corporations.</h2>
                  <p>The world has changed, new skills and new ways of acquiring them are needed. That's why our learners have the opportunity to either practise in VR on their 'own' with AI avatars (driven by IBM's Watson) or collaborate in multiplayer VR experiences for leadership and teamwork skills.</p>
                  <p>VR learning is easy to scale, as each employee receives their own individual headset and the VR learning is an app on their phones. </p>
              </div>  
                <img src = 'assets/img/vr-cardboard-with-hands.png'>
              </div>

            </div>
        </section>

        <!-- e-learning-process -->
        <section id = 'e-learning-process'>
          <div class = 'container'>
            <div class = 'process-icon-container'>
              <div>
                  <img class = 'number-point' src = 'assets/img\numer-bullet-points\number-bullet-1.png'>
                  <img class = 'process-icon-1' src = 'assets/img\process-icons\download-icon.png'>
                <p>You receive an email with<br>
                  a link to download the app.</p>
              </div>
              <div>
                <img class = 'number-point' src = 'assets/img\numer-bullet-points\number-bullet-2.png'>
                <img class = 'process-icon-2' src = 'assets/img\process-icons\launch-app.png'>
                <p>Start the app and turn <br>
                  the phone panoramic.</p>
            </div>
            <div>
              <img class = 'number-point' src = 'assets/img\numer-bullet-points\number-bullet-3.png'>
              <img class = 'process-icon-3' src = 'assets/img\process-icons\vr-ar.png'>
              <p>Place the phone in <br>
                your company branded VR headset.</p>
            </div>
            <div> 
              <img class = 'number-point' src = 'assets/img\numer-bullet-points\number-bullet-4.png'>
              <img class = 'process-icon-4' src = 'assets/img\process-icons\enter-pin.png'>
              <p>Enter the PIN from your email and <br>
                 your VR learning programme begins.</p>
            </div> 
            </div>
 
          </div>
        </section>

        <!-- our-people-skill-products -->
        <section id = 'our-people-skill-products'>
              <div class = 'container'>
                <h5>OUR PEOPLE SKILLS PRODUCTS</h5>
                <p>Energise your learners with our portfolio of innovative People Skills training in VR and AR that can either be stand alone training programmes, or blended into your current programmes, to give learners an arena to practise their new skills, without having to go in the office or share a room.</p>

                <div class = 'skill-container'>
                  <div class = 'skill-image-container'>             
                      <img src = 'assets/img/leadership.jpg'>
                      <h2>Leadership</h2>
                  </div>
                  <div class = 'skill-image-container'>
                    <img src = 'assets/img\teleconference.jpg'>
                    <h2>Teleconference 
                      Training</h2>
                  </div>
                  <div class = 'skill-image-container'>
                    <img src = 'assets/img\teamwork.jpg'>
                    <h2>Teamwork</h2>
                  </div>
                  <div class = 'skill-image-container'>
                    <img src = 'assets/img\cultivating.jpg.jpg'>
                    <h2>Cultivating </h2>
                  </div>
                </div>
              </div>
        </section>

        <!-- testimonial-->

        <section id = 'testimonial'>
            <div class = 'container'>
              <div class = 'speech-marks'>
                <img src = 'assets/img\speech-mark.png'>
              <h3>ELS took a complex topic, the mode of action of a soon to be launched drug, and created a VR learning programme that engaged and thrilled the visitors to our stand. The programme then became so popular that we had to create a vendor and client version, translate it into 8 languages for worldwide distribution.</h3>
            </div>

              <div class = 'testimonial-slider'>
              <div class = 'testimonial-profile'>
                <img src = 'assets/img\simon-eldred.png'>
                <div class = 'testimonial-profile-text'> 
                  <h3>Simon Eldred</h3>
                  <p>Global Launch Lead - Roche</p>
                </div>
              </div>

              <div class = 'slider-control'>
                <svg> 
                  <use xlink:href="#left-arrow" class = 'svg-icon'></use>
                </svg>
                <p>1/3</p>
                <svg> 
                  <use xlink:href="#right-arrow" class = 'svg-icon'></use>
                </svg>
              </div>
            </div>
      </div>
    </section>

        <!-- client logos -->

    <section id = 'client-logos'>
      <div class = 'container'>
          <h5>A SELECTION OF OUR VR TRAINING CUSTOMERS</h5>
          <div class = 'logo-container'>
            <img src = 'assets/img/client-logos/bbc-removebg-preview.png'>
            <img src = 'assets/img/client-logos/gsk-removebg-preview.png'>
            <img src = 'assets/img/client-logos/ralph_lauren-removebg-preview.png'>
            <img src = 'assets/img/client-logos/deloitte-removebg-preview.png'>
            <img src = 'assets/img/client-logos/channel-4-removebg-preview.png'>
            <img src = 'assets/img/client-logos/ericsson-removebg-preview.png'>
          </div>
        </div>
    </section>
