@import '../../scss/utilities/_mixins.scss';
@import '../../scss/utilities/_variables.scss';


 /***** app-index
 *****************************/

#main app-index{
    padding-bottom:40px;
    @include mq('desktop'){
        padding-bottom:0;
    }
}


/***** hero section
*****************************/


#hero-section{
    @include flexy;
    z-index:1;
    margin-top:-70px;
    background-size:cover;
    background-image: url('../../../assets/img/hero-tinted.jpg');
    background-position:top center;
    height:100vh;
    & .container{
        text-align: center;
        @include h1;
        padding:0;
        @include flexy($dir:column,$alitems:center, $just:center);
    }

    & .container .hero-heading{
        padding: 0 5%;
        @include mq('tablet'){
            text-align: left;
            margin-bottom:auto;
           & p {
                font-size:20px;
            }

        }

        
    }

    & .container .arrow-container-mobile{

        & .arrow-mobile{ 
            & p {
                margin-right:auto;
            }
            @include flexy;
            & .slider-arrow-container{
                @include flexy($alitems:center, $just:flex-end);
                & img{
                    width:30px;
                }

            }
        }

        width:100%;
        @include mq ('tablet'){
            width:90%;
        }
        background-color:$background-teal;
        margin-top:auto;
        align-self: flex-start; 
        text-align: left;
        padding: 25px;
        @include mq('desktop'){
            display:none;
        }

        & h5{
            color:$yellow;
            margin:0;
            letter-spacing: initial;
            font-size:22px;
        }
    } & h1 {
        margin-top:320px;
        font-weight: 700;
        margin-bottom: 0;
        font-size:60px;
        @include mq('desktop'){
            margin-top:350px;
        }
    }

    & p{
        font-weight:300;
        @include mq('desktop'){
            width:70%;
        }
    }

    & .container .arrow-container{
        display:none;
        background-color: $background-teal;
        @include mq ('desktop'){
            @include flexy($dir:row);
            align-self: flex-start;
            width:80%;
            padding-left:5%; 
        }
        & div {
            @include flexy($just:flex-start, $dir:column, $alitems:flex-start);
            text-align: left;  
            padding:10px 30px;
        }   & h5{
            margin:0;
            color:$yellow;
            letter-spacing: initial;
        }

        & div:nth-child(1){
            padding-left:0;
        }
    }

    /** progress bar **/
    .progress-bar{
        display:none;
    }
    @include mq ('desktop'){
    & .progress-bar{
        @include flexy($alitems:flex-end);
        margin: 0 25px 30px auto;
        position:fixed;
        right:0;
        bottom:0;

        & p{
            font-weight:400;
            color:#fff;
            font-family:"Poppins", sans-serif;
            margin-bottom:0;

        }

        & .bar{
            background-color:#8D8D8C;
            height:115px;
            @include flexy($dir:column, $just:flex-end);
            margin-left:15px;

            & .bar-0-percent{
                padding:1.5px;
                background-color: $teal;
                height:15%;  
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
            }
        }
    }
  } 

}

 

/***** e-learning intro
*****************************/
#e-learning-intro{
    margin-top:100px;
    @include mq('tablet'){
        margin-top:0;
    }
}

#e-learning-intro .container h2, 
#e-learning-intro .container h5, 
#e-learning-intro .container p{
    color:$teal;
}

#e-learning-intro .container{

    & > h5 + h2{
        @include mq ('desktop'){
            font-size:50px;
        }
    }

    & > h5 + h2, 
    & h5{
        @include mq ('desktop'){
            text-align: center;
            }
    }
    
    & h4{
        color:$teal; 
    }

    /* e-learning-flexy */

    & div > h2 {
        margin-top:0;
        @include mq ('desktop'){
            font-size:30px;
            margin-top:25px;
        }
    }

    & .e-learning-flexy{
        @include flexy($dir:column);
    & img {
    width:70%;
    align-self:center;
    margin-top:25px;
    @include mq ('desktop'){ 
        width:500px;
        margin-right:25px;
        
    }
    }

    @include mq ('desktop'){
        flex-direction: row-reverse;
        justify-content: space-between;
        
        & > div {
            width:60%;
        }
    }


    }

}


/***** e-learning process
*****************************/

#e-learning-process{
    background-color:$teal;
    & .container{
        margin-top:25px;
    }

    & .container{
        @include mq('desktop'){
            padding:25px;
        }
    }
}

#e-learning-process .container .process-icon-container{
    & .number-point{
        flex-basis:40px;
        width:50px;
        margin: 0px 135px 0 0;
        @include mq ('tablet'){
            margin: 0px 60px 5px 0;
        }
        @include mq('desktop'){
                    margin: 0px 135px 0 0;
        }
    } 
    @include flexy($dir:column,$alitems:center);
    & div{
        @include flexy($dir:column, $alitems:center);
        height:300px;
        text-align: center;
        margin-bottom:50px;
        width:100%;
        @include mq ('tablet'){
            flex:1 70px;
            padding:0 5px;
            margin-bottom:0;
        }
        @include mq ('desktop'){
            padding:0 20px;
        }
    }
    @include mq ('tablet'){
        @include flexy($dir:row)
    }

    & .process-icon{
        width:130px;
    }
}




/** individual png icons. NEEDS TO BE REPLACED WITH SVGS **/

.process-icon-1{
    width:100px;
}

.process-icon-2{
    width:113px;
}

.process-icon-3{
    width:209px;
}

.process-icon-4{
    width:92px;
}


/***** people skill products
*****************************/

#our-people-skill-products .container{
    @include mq ('tablet'){
        @include flexy($dir:column,$alitems:center); 
    }

    & h5, 
    & h5 + p{
        color:$teal;
        text-align: center;
    }

    & h5 + p{
        @include mq ('desktop'){
            width:75%;
            font-size:20px;
            text-align: center;
        }
    }

    & .skill-container{
        margin: 25px 0;

        /** targets teleconfrence heading only **/

        & .skill-image-container:nth-child(2) h2 {
            margin:-40px 0 0 10px;

            @include mq ('tablet'){
                margin:-67px 0 0 10px;
            }

            @include mq('large-screen'){
                margin:-40px 0 0 10px;
                }
        }

        /** targets teleconfrence heading only END **/

        & .skill-image-container{
            position: relative;
            margin-bottom:25px;
            & img {
                width:100%;
            }

            & h2 {
                color:#fff;
                margin:-40px 0 0 10px;
                padding-bottom:8px;
                position: relative;
                z-index:1;
            }

            @include mq ('desktop'){
                margin:25px 5px 25px 5px;
            }

        }

        
        

        .skill-image-container::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
            background: linear-gradient(180deg, rgba(42,70,78,0.1) 0%, rgba(8,14,16,0.5) 35%); 
            width:100%;
        }

        /** tablet / desktop for skill container**/
        @include mq ('tablet'){
            @include flexy($just:space-between)
        }

        @include mq ('desktop'){
            margin:0 0px 25px -5px;
        }

    }
}

 /***** testimonial
 *****************************/
#testimonial{
    background-color: #F2F2F2;
}
#testimonial .container{
    & .speech-marks{    
        @include flexy;
        & h3{
            margin-top:40px;
            color:#2A464E;
            @include mq ('tablet'){
                font-size:30px;
            }
            @include mq ('desktop'){
                text-align: center;

            }
        }
        & img{
            height:70px;
            @include mq ('tablet'){
                flex-basis:250px;
                margin-right:25px;
            }
        }
    }

    & .testimonial-slider{
        @include flexy($alitems:center);
        margin-top:25px;
        width:100%;

        & .testimonial-profile{
            @include mq ('desktop'){
                justify-content: center;
            }
            @include flexy($alitems:flex-start);
            flex:1;
            

            & img{
                margin-right:10px;
                width:75px;
                @include mq ('desktop'){
                    margin-left:7%;
                }
            }

            & .testimonial-profile-text{
                & h3{
                    margin-bottom:0;
                    color:$teal;
                }

                & p{
                    color:$teal;
                    margin-top:0;
                }
            }
        }

        & .slider-control{
            display:none;
            @include mq ('desktop'){
                @include flexy($just:flex-end, $alitems:center);
                width:120px;

                & svg{
                    flex-basis:15px;
                    height:15px;
                }
    
                & p{
                    margin: 0 15px;
                    font-size:20px;
                    color:$teal;
                }
            }
            }

    }
}


 /***** client logos
 *****************************/

 #client-logos{ 
    
    background-color: #FAFAFA;
     & .container{
         width:100%;

     }
     @include flexy;
     margin-top:50px;
     width:100%;
     & .logo-container{
         width:100%;
         @include flexy($wrap:wrap, $just:space-between, $alitems:center); 
         & img{
             width:50px; 
             @include mq ('tablet'){
                 width:100px;
             }
         }
     }

     color:$white;
     font-size:1rem;
     font-family: $font-stack-primary;
     margin: 0 auto;
     padding:25px;
     & h5 {
       font-weight:800; 
       letter-spacing: .4em;
       color:$teal;
       text-align: center;
     }
 }
 
 

 /***** contact info
 *****************************/
 
 #contact{
     margin-top:-40px;
     @include mq('desktop'){
         margin-top: 0;
     }
    background-color: $background-teal;
    & .container > h2 {
        margin-bottom:50px;
        @include mq ('tablet'){
            font-size: 50px;
            margin-bottom:75px;
        }
    }
    & .container .contact-info{
        display:flex;
        & div{
            flex:1;
            & h4{
                font-weight:900;
                margin:0;
            }
            & p{ 
                margin:10px 0;
            }   
        }

        & .address h4:last-child{
            text-decoration: underline;
        }

        & .phone-email-container{
            margin-left:50px;
        }
    }
 }




