// ======================================
//  Mixins
// ======================================


// ======================================
// BUTTONS

@mixin buttons(
$btn-text-color:null,
$btn-margin:null,
$btn-uppercase:null,
$btn-width:null,
$btn-background:null
)

{
border-radius:21px;
border: 2px solid $white;
width:$btn-width;
padding:.8em 1.7em;
margin:$btn-margin;
color:$white;
background: $btn-background;
}

// ======================================
// FLEXY 

@mixin flexy (
$dir:null,
$wrap:null,
$just:null,
$alitems:null)
{
display:flex;
flex-direction: $dir;
flex-wrap: $wrap;
justify-content: $just;
align-items: $alitems;
}

// ======================================
// H1

@mixin h1{
    font-size: $font-default;
    font-weight:$font-weight--meduim;
    color:$white;
    margin:0;
    @content;
}

// ======================================
// H1

@mixin h2{
    font-weight:$font-weight--bold;
    margin:0;
    @content;
}

// ======================================
// p

@mixin p{
    font-weight:$font-weight--light;
    font-size:14px;
    @content;
}

// ======================================
// form

@mixin form-input{
    border-top:0;
    border-left:0;
    border-right:0;
    padding: 10px 0;
  }


// ======================================
// mq

  @mixin mq ($breakpoint){
    @if $mobile == 'mobile'{
      @media (min-width:$breakpoint-tablet){
        @content;
    }
   }


    @else if $breakpoint == 'tablet'{
      @media (min-width:$breakpoint-tablet){
        @content;
    }
   }
  

   @else if $breakpoint == 'desktop'{
    @media (min-width:$breakpoint-desktop){
      @content;
    }
  }  

  
    @else if $breakpoint == 'large-screen'{
      @media (min-width:$breakpoint-large-screen){
        @content;
      }
    }
  }