header{
    position: fixed;
    margin:auto;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    z-index:99;
    & img{
        width:200px;
        margin: 0 auto 0 1em;
        
    } & .container {
        height:100%;
        @include flexy($alitems:center);
        padding: 0 0 0 25px;
        max-width:100%;

        & button{
            display:none;
            @include mq ('tablet'){
            display: block;
            margin-right:20px;
            padding:12px 35px;
            border-radius:15px;
            background: linear-gradient(180deg, rgba(14,115,104,1) 0%, rgba(7,58,52,1) 35%);
            border: solid 2px #fff;
            color:#fff;
            font-weight:600;
            font-size:18px;
            }
        }
    } & .container .hamburgermenu{
        width:80px;
        height:65px;;
        background-color:$background-teal;
        @include flexy($just:center, $alitems:center)
    } 
    & .container .hamburgermenu svg{ 
        width:35px;
        height:35px;
        fill: $yellow;
    }
}