/***** Grid ****/
#main{
    display:grid;
    grid-template-columns:1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-rows: repeat(1, 70px);
    grid-template-areas:
    "header"
    "hero"
    "intro"
    "process"
    "portfolio"
    "clients"
    "testimonial"
    "contact"
    "form"
    "footer";
  }
  
  header{
    grid-area: header;
  }
  
  
  #hero-section{
    grid-area:hero;
    
  }
  
  
  #e-learning-intro{
    grid-area:intro;
  }
  
  #e-learning-process{
    grid-area: process;
  }
  
  #portfolio{
    grid-area:portfolio;
  }
  
  #clients{
    grid-area: clients;

  }
  
  #testimonial{
    grid-area:testimonial;
  }

  #contact{
    grid-area:contact;
  }
  
  #form{
    grid-area:form;
    background-color: chocolate;
  } 
  footer{
    grid-area:footer;
    background-color: teal;
  }

  

  
  #main{
    @include mq ('desktop'){
        grid-template-columns:80px 2fr repeat(2, 1fr);
        grid-template-areas:
        "header header header header"
        "hero hero hero hero"
        "intro intro intro intro"
        "process process process process"
        "portfolio portfolio portfolio portfolio"
        "contact contact form form"
        "footer footer footer footer";
          
    }
  }



