/***** Grid ****/
#main{
    display:grid;
    grid-template-columns:1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-rows: repeat(1, 70px);
    grid-template-areas:
    "header"
    "hero"
    "intro"
    "process"
    "skill-products"
    "tesimonial"
    "client-logos"
    "contact"
    "form"
    "footer";
  }
  
  header{
    grid-area: header;
  }
  
  
  #hero-section{
    grid-area:hero;
    
  }
  
  
  #e-learning-intro{
    grid-area:intro;
  }
  
  #e-learning-process{
    grid-area: process;
  }
  
  #our-people-skill-products{
    grid-area:skill-products;
  }
  
  #tesimonial{
    grid-area: tesimonial;

  }
  
  #client-logos{
    grid-area:client-logos;
  }

  #contact{
    grid-area:contact;
  }
  
  #form{
    grid-area:form;
  } 
  footer{
    grid-area:footer;
  }

  

  
  #main{
    @include mq ('desktop'){
        grid-template-columns:80px 2fr repeat(2, 1fr);
        grid-template-areas:
        "header header header header"
        "hero hero hero hero"
        "intro intro intro intro"
        "process process process process"
        "skill-products skill-products skill-products skill-products"
        "tesimonial tesimonial tesimonial tesimonial"
        "client-logos client-logos client-logos client-logos"
        "contact contact form form "        
        "footer footer footer footer";
          
    }
  }



