// hero section


#hero-section{
    @include flexy;
    background-image: url(../img/hero-tinted.jpg);
    background-position:top center;
    height:80vh;
    & .container{
        text-align: center;
        @include h1;
        @include flexy($dir:column,$alitems:center, $just:center);
    }

    & .container .hero-heading{
        padding: 0 25px;
    }

    & .container .arrow-container{
        width:90%;
        background-color:$background-teal;
        margin-top:auto;
        align-self: flex-start;
        text-align: left;
        padding: 1em;
    } & h1 {
        margin-top:150px;
    }
}