/***** hero section
*****************************/
#hero-section{
    @include flexy;
    z-index:1;
    margin-top:-70px;
    background-size:cover;
    background-image: url(../img/hero-tinted.jpg);
    background-position:top center;
    height:100vh;
    & .container{
        text-align: center;
        @include h1;
        padding:0;
        @include flexy($dir:column,$alitems:center, $just:center);
    }

    & .container .hero-heading{
        padding: 0 25px;
        @include mq('tablet'){
            text-align: left;
            padding-left:25%;
            margin-bottom:auto;
           & p {
                font-size:20px;
            }

        }

        
    }

    & .container .arrow-container-mobile{

        & .arrow-mobile{ 
            & p {
                margin-right:auto;
            }
            @include flexy;
            & .slider-arrow-container{
                @include flexy($alitems:center, $just:flex-end);
                & img{
                    width:30px;
                }

            }
        }

        width:90%;
        background-color:$background-teal;
        margin-top:auto;
        align-self: flex-start; 
        text-align: left;
        padding: 25px;
        @include mq('desktop'){
            display:none;
        }

        & h5{
            color:$yellow;
            margin:0;
            letter-spacing: initial;
            font-size:22px;
        }
    } & h1 {
        margin-top:300px;
        font-weight: 100;
        margin-bottom: 0;
        font-size:60px;
    }

    & .container .arrow-container{
        display:none;
        background-color: $background-teal;
        @include mq ('desktop'){
            @include flexy($dir:row);
            align-self: flex-start;
            width:95%; 
        }
        & div {
            @include flexy($just:flex-start, $dir:column, $alitems:flex-start);
            text-align: left;  
            padding:10px 30px;
        }   & h5{
            margin:0;
            color:$yellow;
            letter-spacing: initial;
        }
    }

    /** progress bar **/
    .progress-bar{
        display:none;
    }
    @include mq ('desktop'){
    & .progress-bar{
        @include flexy($alitems:flex-end);
        margin: 0 25px 30px auto;
        position:fixed;
        right:0;
        bottom:0;

        & p{
            font-weight:400;
            color:#fff;
            font-family:"Poppins", sans-serif;
            margin-bottom:0;

        }

        & .bar{
            background-color:#8D8D8C;
            height:115px;
            @include flexy($dir:column, $just:flex-end);
            margin-left:15px;

            & .bar-0-percent{
                padding:1.5px;
                background-color: $teal;
                height:15%;  
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
            }
        }
    }
  } 

}

 

/***** e-learning intro
*****************************/
#e-learning-intro .container h2, 
#e-learning-intro .container h5, 
#e-learning-intro .container p{
    color:$teal;
}



#e-learning-intro .container svg{
    width:100%;
    margin:25px 0;
    height:220px;
}




/***** e-learning process
*****************************/

#e-learning-process{
    background-color:$teal;
    & .container{
        margin-top:25px;
    }

    & .container{
        @include mq('desktop'){
            padding:25px;
        }
    }
}

#e-learning-process .container .process-icon-container{
    & .number-point{
        flex-basis:40px;
        align-self: flex-start;
        width:50px;
    }
    @include flexy($dir:column,$alitems:center);
    & div{
        @include flexy($dir:column, $alitems:center);
        height:300px;
        text-align: center;
        margin-bottom:50px;
        width:100%;
        @include mq ('tablet'){
            flex:1 70px;
            padding:0 20px;
            margin-bottom:0;
        }
    }
    @include mq ('tablet'){
        @include flexy($dir:row)
    }

    & .process-icon{
        width:130px;
    }
}

.e-learning-intro-mobile{
    @include mq('desktop'){
        display:none;
    }
}

.e-learning-intro{
    display:none;
    @include mq('desktop'){
        display:block;
    }
    & .container > div {
        @include flexy; 
        margin-top:50px;
        & img{
            width:500px;
            & + div > h2{
                font-size:30px;;
            }
        }
    }

    & h2{
        font-size:50px;
    }
    
    & h4{
        color:$teal; 
    }
}

/** individual png icons. NEEDS TO BE REPLACED WITH SVGS **/

.process-icon-1{
    width:100px;
}

.process-icon-2{
    width:113px;
}

.process-icon-3{
    width:209px;
}

.process-icon-4{
    width:92px;
}


/***** people skill products
*****************************/

#portfolio .container h5, 
#portfolio .container p{
    color:$teal;
    text-align: center;

}

#portfolio .container {
    @include flexy($dir:column, $alitems:center);
    & p {
        @include mq('desktop'){
            font-size:20px;
        }
    }

    & .portfolio-icon-container {
        margin-bottom:25px;

        & div{
            position: relative;
            margin-bottom:25px;
        }
    }
    & .portfolio-icon-container img {
        width:100%;
        height:100%;
        @include mq ('tablet'){
            margin-bottom:0;
        }
  } & .portfolio-icon-container{

    & div{
        @include mq ('tablet'){
            flex-basis:250px;
        }

    }

    

    & div:nth-child(2) h2{
        @include mq('tablet'){
        margin:-67px 0 0 10px;
        }
    }

    & div:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background: linear-gradient(180deg, rgba(42,70,78,0.1) 0%, rgba(8,14,16,0.5) 35%);
        width:100%;
    }  

    & div h2{
        color:#fff;
        margin:-40px 0 0 10px;
        padding-bottom:8px;
        position: relative;
        z-index:1;
    }
    margin-top:25px;
    @include mq ('tablet'){
        width:100%;
        @include flexy($dir:row, $just:space-between)
    }

  }


 /***** testimonial
 *****************************/
  

  & .speech-marks{
      & h3{
          color:$teal;
          margin-top:40px;
          @include mq('tablet'){
              font-size:30px;
          }
          
      }

      @include flexy;
    
      & img{
          height:70px;
          @include mq ('tablet'){
            flex-basis: 250px;
            margin-right:25px;
          }
      }

      
  }

  & .testimonial-slider{
      @include flexy($alitems:center);
      margin-top:25px;

      & .testimonial-profile img {
          margin-right:10px;
          width:75px;
      }
      & .testimonial-profile{
          @include flexy($alitems:flex-start);
          flex:1;
      } & .testimonial-profile-text h3
      {
        margin-bottom:0;
        color:$teal;
      }
      & .testimonial-profile-text p{
          margin-top:0;
      }
  }

  & .slider-control{
      display:none;
      @include mq ('desktop'){
        display:block;
      @include flexy($just:flex-end, $alitems:center);
      flex:.3; 
      & svg{
          flex-basis: 15px;
          height:15px;
      }
      & p {  
          margin: 0 15px; 
      }
    }
  }


}


 /***** client logos
 *****************************/

 .client-logos{
    background-color: $teal;
     & .container{
         width:100%;

     }
     @include flexy;
     margin-top:50px;
     width:100%;
     & .logo-container{
         width:100%;
         @include flexy($wrap:wrap, $just:space-between, $alitems:center); 
         & img{
             width:50px; 
             @include mq ('tablet'){
                 width:100px;
             }
         }
     }

     color:$white;
     font-size:1rem;
     font-family: $font-stack-primary;
     margin: 0 auto;
     padding:25px;
     @include mq('desktop'){
         padding:50px;
     }
     & h5 {
       font-weight:800; 
       letter-spacing: .4em;
       color:#fff!important; 
     }
 }
 
 

 /***** contact info
 *****************************/
 
 #contact{
     margin-top:-40px;
     @include mq('desktop'){
         margin-top: 0;
     }
    background-color: $background-teal;
    & .container > h2 {
        margin-bottom:50px;
        @include mq ('tablet'){
            font-size: 50px;
            margin-bottom:75px;
        }
    }
    & .container .contact-info{
        display:flex;
        & div{
            flex:1;
            & h4{
                font-weight:900;
                margin:0;
            }
            & p{ 
                margin:10px 0;
            }   
        }

        & .address h4:last-child{
            text-decoration: underline;
        }

        & .phone-email-container{
            margin-left:50px;
        }
    }
 }


  /***** form
 *****************************/

 #form {
     letter-spacing: .4em; 
     & label{
     color:$teal;
     font-weight:900;
     margin-bottom:20px;
     }

     & textarea{
         height:140px;
     }
     & input, textarea{
         background-color:$field-background ;
         border:none;
         margin:10px 0 20px 0;
         width:100%;
     }

     br + input,
     textarea{
         border-bottom:#707070 1px solid;
     }

     & button{
         font-family:"Poppins", sans-serif;
         font-weight:900;
         color:$teal;
         background-color: $field-background;
         border: #707070 1px solid;
         padding:10px 20px;
     } 

     & .form-flex{
        @include mq ('tablet'){
            @include flexy($just:space-between);
            & .input-flex{
                width:48%;
            }
        }

     }
 }

   /***** footer
 *****************************/
footer{
    & .footer-main{
        & > img{
            width:200px;
            align-self: center;
            margin-bottom:25px;
            @include mq('tablet'){
                align-self: flex-start;
                margin-bottom: 0;
            }
        }
        @include flexy($dir:column,$alitems:center);
        @include mq ('tablet'){
            @include flexy($dir:row, $just:space-between);
        }
    } & .social-icons img{
        width:30px;
        @include mq ('tablet'){
            align-self: center;
        }
    }

    .social-icons img:nth-child(2){
        @include mq('tablet'){
            margin: 0 15px;
        }
    }
    background-color:$teal;

    & .footer-menu, 
      .contact-menu {
          text-align: center;
          @include mq ('tablet'){
              text-align: left;
          } 

          & h5{
              margin-top:0;
          }
      }

      & .contact-menu{
          margin-top:25px;
          @include mq ('tablet'){
              margin-top:0; 
          }
      }

      & .divider{
          margin-top:25px;
          background-color: #fff;
          padding: 1px 0 0 0;
          @include mq ('tablet'){
              margin-bottom:25px;
          }
      }

      .privacy-policy-social{
          @include flexy($dir:column, $alitems:center);
          & .footer-link{
              @include flexy ($dir:column, $alitems:center)
          }
          
          & .social-icons{
              @include flexy($just:space-between);
              width:50%;

              @include mq ('tablet'){
                  @include flexy($just:flex-end);
                  width:75px;

              }
              margin:25px 0;

              @include mq ('tablet'){
                  margin: 0;
              }

          }

          & div{
              flex:1;
          }

          @include mq ('tablet'){
              @include flexy($dir:row, $alitems:center);
              & .footer-link{
                  @include flexy($just:space-between, $dir:row);
              }
          }

          & p {
            @include mq ('tablet'){
                font-size:11px;
            }
            @include mq ('desktop'){
                font-size: 14px;
            }
          }
      }
       
}






